{% extends "loggedInLayout.html" %}
{% block body %}
    <div class="main">
        <div class="head">
            <h1 class="heading">User Data</h1>
        </div>
        <div class="main-body">
            <table class="table table-hover table-dark" id="myTable">
                <thead>
                    <tr>
                        <th>Entry No.</th>
                        <th>Item Name</th>
                        <th>Item Units</th>
                        <th>Price</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in userData %}
                    <tr class="bg-dark">
                        <td class="bg-dark">{{data.entryno}}</td>
                        <td>{{data.itemname}}</td>
                        <td class="unitCls">{{data.itemunits}}</td>
                        <td class="priceCls">{{data.itemprice}}</td>
                        <td>{{data.date}}</td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $('#myTable').DataTable();
    </script>
{% endblock %}
